body {
    font-family: "Satoshi", Arial, Helvetica, sans-serif;
}

input::placeholder {
    color: white;
    opacity: 0.5;
}

input {
    font-size: 16px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}

.icon-btn span {
  display: inline-flex;
  transition: opacity 0.25s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 1;
  animation: swap 0.25s ease;
}

@keyframes swap {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}
